		
<!DOCTYPE html>
<html>
<head>
	<title>title Account List</title>
</head>
	<body>
		<h3>
			 Account Info
		</h3>
	<br>

	<form method ="post" action="/update">
				<table>
					<tr>
						<th>Username</th>
						<td>
							<input type="text" name="username" value="{{account.username}}"/>
							<input type="hidden" name="id" value={{account.id}}/>
						</td>	
					</tr>		
					<tr>	
						<th>Password</th>
						<td> 
							<input type="password" name="password" />
						</td>
					<tr>
						<th>Fullname</th>
						<td> 
							<input type="text" name="full_name" value={{account.full_name}} />
						</td>	
					<tr>
						<th>&nbsp;</th>
						<td> 
							<input type="submit" value="Save" />
						<td>
				</table>
			</form>
	</body>
</html>		