html
	head
		title Account List
	body
		h3 Account List
		br
		form(method ="post", action="/account/add")
			table
				tr
					th 	Username
					td
						input(type="text", name="username", value=account.username)
						input(type="hidden", name="id", value=account.id)
				tr		
				tr		
					th 	Password
					td 
						input(type="password", name="password")

				tr
					th 	Fullname
					td 
						input(type="text", name="full_name", value=account.full_name)
				tr
					th 	&nbsp;
					td 
						input(type="submit", value="Save")				